<div class="chat flex flex-col mx-10">
  <app-single-message [message]="'Hi!'" [isFriendMessage]="true"></app-single-message>
  <app-single-message [message]="'Hey!'" [isFriendMessage]="false"></app-single-message>
  <app-single-message [message]="'Und mit dem Auto ins Fitnessstudio!'" [isFriendMessage]="true"></app-single-message>
  <app-single-message [message]="'um da Rad zu fahren?'" [isFriendMessage]="false"></app-single-message>
  <app-single-message [message]="'Mit dem Auto im Bioladen'" [isFriendMessage]="true"></app-single-message>
  <app-single-message [message]="'kaufst du regional'" [isFriendMessage]="false"></app-single-message>
</div>
