<div class="flex justify-center">
  <div class="w-full sm:w-max">
    <mat-card class="!rounded-xl">
      <mat-card-header class="mb-2 flex flex-col sm:flex-row items-center">
        <mat-card-title class="my-auto">Users</mat-card-title>
        <span class="flex-grow"></span>
        <button class="material-icons w-7 mx-3 text-xl" (click)="toggleSearch = !toggleSearch">search</button>
      </mat-card-header>
      <mat-divider></mat-divider>
      <span *ngIf="toggleSearch" >
        <mat-form-field class="w-full">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" value="" [(ngModel)]="searchString" (ngModelChange)="searched($event)">
        </mat-form-field>
      </span>
      <div class="overflow-x-auto">
        <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="w-full">
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">
              <span>{{user}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
              <div class="flex justify-end">
                <button mat-raised-button color="primary" (click)="addFriend(user)">Add</button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              *matRowDef="let row; columns: displayedColumns;"
              (click)="onUserDetailPopUp(row)"
              class="cursor-pointer hover:bg-gray-100">
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                     aria-label="Select page of users"
                     [showFirstLastButtons]="false"
                     (page)="handlePageEvent($event)"
                     [length]="length">
      </mat-paginator>
    </mat-card>
  </div>
</div>
